<div class="mainSlide" id="mainSlide">
    <div id="topslide">

        <volist name="banner" id="data">
            <div class="cell <if condition='$i eq 1'>cur</if>">
                <div class="prom" style="background-image:url({:get_image_url($data['pic_url'])});"></div>
                <div class="w1004">
                    <a target="_blank" href="{$data['link']}" id="" title="/" class="promLink" data-ride="726"></a>
                </div>
            </div>
        </volist>
        </notempty>


    </div>

    <div class="pgWidth">
        <div class="w1004">
            <span class="slideNum" id="slideNum">
                            <i class="cur"></i>
                            <i ></i>
                            <i ></i>
                            <i ></i>
                            <i ></i>
                        </span>
        </div>
    </div>
</div>