    <div class="Extension w1000 clearfix HBSBlock">
        <div  >
            <a target="_blank" href="http://www.miyabaobei.com/formulas.html">
                <img src="__IMG__/mia_4.jpg" data-src="http://img02.miyabaobei.com/d1/p2/2015/10/20/40/78/407868cd7990cbc293c79e6334d778f5.jpg" alt="" width="492" height="160" class="lazyload"/>
            </a>
        </div>
        <div  class="mr0" >
            <a target="_blank" href="http://www.miyabaobei.com/diapers.html">
                <img src="__IMG__/mia_5.jpg" data-src="http://img03.miyabaobei.com/d1/p2/2015/10/20/c4/50/c4509f325a8b9cb2878126ba60eab2c6.jpg" alt="" width="492" height="160" class="lazyload"/>
            </a>
        </div>
    </div>
    <!--天天特卖-结束-->