<div class="newTN clearfix">
    <div class="w1000">
        <div class="r">
            <ul id="loginedBox" class="dn">
                <li><a href="/logout">退出</a></li>
                <li class="line">|</li>
                <li><a href="/help.html" rel="nofollow">帮助中心</a></li>
                <li class="line">|</li>
                <li class="mymia mymiaBtn PubBtnHover"><span class="indexPubTop"><a href="/home" target="_blank" rel="nofollow">我的蜜芽</a></span>
                    <div class="mymiaCon PubConHover"> <a href="/order_lists" rel="nofollow">我的订单</a> <a href="/my_getredbag" rel="nofollow">我的红包</a> <a href="/my_coupon" rel="nofollow">我的代金券</a> <a href="/my_brand" rel="nofollow">我收藏的品牌</a> <a href="/my_collect" rel="nofollow">我收藏的商品</a></div>
                </li>
                <li class="line">|</li>
                <li>你好，<span id="logined_username"></span></li>
            </ul>
            <ul class="dn" id="unloginBox">
                <li><a href="/help.html">帮助中心</a></li>
                <li class="line">|</li>

                <li><a href="{:U('User/login')}" title="点击注册" rel="nofollow">免费注册</a></li>
                <li class="line">|</li>

                <li><a href="{:U('User/register')}" title="点击登录" rel="nofollow">登录</a></li>
                <li class="line">|</li>
                <li>您好，欢迎来到蜜芽 </li>
            </ul>
        </div>

        <div class="l">
            <ul>
                <li class="cur"><a href="/">蜜芽首页</a></li>
                <li ><a href="#">蜜芽口碑</a></li>
                <!-- <li class="w88"><a href="/brand">种草机</a></li> -->
                <li class="phone"><a href="#"  class="indexPubTop">手机蜜芽</a></li>
                <li class="top400">400-789-2000</li>
            </ul>
        </div>

    </div>
</div>

