<div class="content detail">
    <div class="w1004">
        <div class="titlecon clearfix">
            <div class="left yahei l">

                <a href="/list-22326.html" class="pink">瘦身代餐专场 </a>

                <font style="color:#333;">Nu-Lax 乐康膏 果蔬乐康膏250g*2盒</font>

                （本品不能代替药物）由澳洲hujun原产的多种水果和天然植物赛纳叶混合而成，不含人工添加剂。净肠美肌补能量，通便排毒，改善便秘、腹胀、口臭、青春痘等问题。睡前服用效果更好~！

            </div>
            <div class="right l">
                <div id="detailOutletInfo" class="countdown" style="display:none">
                    <h5 ></h5>
                    <div id="counter">
                        <img src="http://file04.miyabaobei.com/resources/images/dot.gif" alt="" width="20" height="20"/>
                    </div>
                    <input type="hidden" id="outletStart" value="" />
                    <input type="hidden" id="outletEnd" value="" />
                </div>
            </div>
        </div>
        <!--/.title-->






        <div class="show clearfix">
            <div class="left l rel">
                <div class="mark_wrap_x60">
                    <span class="mark_item mark_dutyfree"></span>
                </div>
                <div class="big rel">
                    <img src="__ROOT__/{$goodsDetails['goodsImg']}" width="447" height="447" alt="{$goodsDetails['goodsName']}"/>
                </div>
            </div>

            <div class="right l">
                <div class="M_productInfo">
                    <div class="pi_price_box">
                        <span class="pbox_price"><i class="pbox_yen">&yen;</i><em id="item_price">{$goodsDetails['shopPrice']}</em></span>
                        <span class="pbox_off">5.1折</span>

                        <span class="pbox_market">&yen;<del>{$goodsDetails['marketPrice']}</del></span>

                    </div>

                    <div class="pi_attr_box">
                        <div class="clearfix discount_f">

                        </div>
                        <input type="hidden" value="add" name="act">
                        <input type="hidden" value="" name="client_time">
                        <!-- 20150915 -->
                        <dl id="i_youhui" class="i_youhui clearfix" style="display: none">
                            <dt class="num_name">优惠：</dt>
                            <dt>
                                <div class="iyh_tuan"><i>团</i>下载蜜芽APP立享团购优惠，3人成团可低至 ¥69 元 </div>
                                <div class="iyh_quan"><i>券</i>满100减5元优惠券 立即领取</div>
                            </dt>
                        </dl>
                        <dl class="color new_gg">
                            <dt class="color_name">套装：</dt>
                            <dd class="color_list">
                                <ul>
                                    <li class="color_list_item">
                                        <a class="selected">
                                            <em>2</em>件套<br>￥50/件
                                            <span class="i_select"></span>
                                        </a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>

                        <dl class="color">
                            <dt class="color_name">可选：</dt>
                            <dd class="color_list">
                                <ul>
                                    <li class="color_list_item">
                                        <a class="selected" title="{$goodsDetails['goodsName']}" href="javascript:void(0)">
                                            <img width="42" height="43" alt="{$goodsDetails['goodsName']}" src="__ROOT__/{$vo['goodsThumb']}" class="fl">
                                            <span class="i_select"></span>
                                        </a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl id="detail_size" style="display:none;"></dl>
                        <dl id="J_num_select" class="i_num clearfix">
                            <dt class="num_name">数量：</dt>
                            <dd class="i_notice_msg J_num_tips"></dd>
                            <dd class="num_box">
                                <span class="num_reduce num_reduce_disabled J_num_act_reduce"></span>
                                <em class="num_input" id="buyAmount">1</em>
                                <span class="num_add J_num_act_add"></span>
                            </dd>
                            <dd id="stockTips" class="num_msg f12">还剩<span id="stock"></span>件</dd>
                        </dl>
                        <dl class="other">
                            <dt class="other_name">编码：</dt>
                            <dd class="other_box">1109462</dd>
                        </dl>



                        <!-- 税率-->
                        <dl class="other">
                            <dt class="other_name">关税：</dt>
                            <dd class="other_box" style="text-align:left;height:auto">本商品重庆综合保税仓税率10%，订单关税≤50免征</dd>
                        </dl>

                        <div class="clearfix">
                            <div class="service_mia" style="position: relative;">
                                <div class="hide_button" style="position:absolute;top:0; left:0; width: 60px; height: 36px; z-index: 9;"></div>
                                <!-- Live800在线客服图标:勿删[固定型] 开始-->
                                <div id='live7'>
                                </div>
                            </div>
                        </div>


                        <div class="clearfix">
                            <div class="button_f" id="itemProcess">
                                <a href="javascript:void(0)" class="btn_07" disabled id="J_cartAdd_submit">载入中</a>
                                <p id="sepcailNotice"></p>
                            </div>
                            <div class="button_f" id="itemAttention">
                                <a href="javascript:void(0)" class="btn_07_f" id="attend_submit">收藏</a>
                                <p id="sepcailNotice1"></p>
                            </div>
                        </div>
                        <div class="pbox_pms">
                            <dl>
                                <dt>包邮</dt>
                                <dd>不含纸尿裤、拉拉裤及直邮奶粉的单笔订单满88免运费</dd>
                            </dl>
                        </div>
                        <div id="J_detailShare_wrap" class="pi_share_box">
                            <span class="share_tit widget_share_txt">告诉小伙伴：</span>
                            <span class="jiaaa jiathis_style_24x24" >
                                <a href="javascript:void(0)" class="jiathis_button_weixin"></a>
                                <a href="javascript:void(0)" mars_sead="m_account_invite_sina" class="share_button_tsina"></a>
                                <a href="javascript:void(0)" mars_sead="m_account_invite_tweibo" class="share_button_tqq"></a>
                                <a href="javascript:void(0)" mars_sead="m_account_invite_qzone" class="share_button_qzone"></a>
                                <a href="javascript:void(0)" mars_sead="m_account_invite_renren" class="share_button_renren"></a>
                                <a href="javascript:void(0)" mars_sead="m_account_invite_douban" class="share_button_douban"></a>
                                <a href="javascript:void(0)" class="jiathis_button_meilishuo"></a>
                            </span>
                        </div>
                        <input type="hidden" id="share_pic" value="http://img01.miyabaobei.com/d1/p2/item/11/1109/1109462_topic_1.jpg">
                        <input type="hidden" id="share_name" value="刚刚在蜜芽宝贝上发现了这个#Nu-Lax 乐康膏 果蔬乐康膏250g*2盒# 好喜欢，求特卖求好价!">
                    </div>
                </div>
            </div>
        </div>



        <!--/.show-->
        <include file="mia_goods_details_recommand"/>
        <div class="introduction clearfix">
            <include file="mia_goods_details_introduction"/>
            <include file="mia_goods_details_hithot"/>
        </div>

    </div>
</div>
<!--/.content-->
