<div class="NewL">
    <div class="w1000">
        <div class="r rel">
            <div class="sCartBtn">
                <div class="sCB" id="cart_num_box">
                    <a href="{:U('Cart/cart')}">
                        <div class="l car indexPubTop"></div>
                        <div class="l line"></div>
                        <div class="l text">购物车
                                <span style="display:none;">
                                    <span id="cart_num">0</span>件
                                </span>
                        </div>
                        <div class="l dot indexPubTop"></div>
                    </a>
                    <div class="sCC sCartCon" id="shop_cart">
                    </div>
                    <div class="line2"></div>
                </div>
            </div>
            <div class="genuine">
                <a href="#"><img src="http://file01.miyabaobei.com/resources/images/index_icon06.gif?v=20151014" alt=""/></a>
                <a href="#"><img src="http://file01.miyabaobei.com/resources/images/index_icon07.gif?v=1" alt=""/></a>
                <a href="#"><img src="http://file01.miyabaobei.com/resources/images/index_icon08.gif?v=20151014" alt=""/></a></div>
            </div>
        <a href="/mia"><img src="__IMG__/mia_3.jpg" alt="" class="nlogo"/></a> </div>
</div>
