<div class="mainSlide" id="mainSlide">
    <div id="topslide">
        <div class="cell">
            <div class="prom" style="background-image:url(http://www.wstmall.local/public/images/1.jpg);"></div>
            <div class="w1004">
                <a target="_blank" href="http://www.mia.com/sale/thanDay/main/" id="__AD_focus729" title="" class="promLink" data-ref="729"></a>
            </div>
        </div>
        <div class="cell">
            <div class="prom" style="background-image:url(http://www.wstmall.local/public/images/2.jpg);"></div>
            <div class="w1004">
                <a target="_blank" href="http://www.mia.com/special/module/index/197/pc/" id="__AD_focus726" title="" class="promLink" data-ref="726"></a>
            </div>
        </div>
        <div class="cell">
            <div class="prom" style="background-image:url(http://www.wstmall.local/public/images/3.jpg);"></div>
            <div class="w1004">
                <a target="_blank" href="http://www.mia.com/special/module/index/275/pc/" id="__AD_focus727" title="" class="promLink" data-ref="727"></a>
            </div>
        </div>
        <div class="cell">
            <div class="prom" style="background-image:url(http://www.wstmall.local/public/images/4.jpg);"></div>
            <div class="w1004">
                <a target="_blank" href="http://www.mia.com/special/module/index/272/pc/" id="__AD_focus728" title="" class="promLink" data-ref="728"></a>
            </div>
        </div>
        <div class="cell cur">
            <div class="prom" style="background-image:url(http://www.wstmall.local/public/images/5.jpg);"></div>
            <div class="w1004">
                <a target="_blank" href="http://www.mia.com/list-21960.html" id="__AD_focus734" title="" class="promLink" data-ref="734"></a>
            </div>
        </div>
    </div>
    <div class="pgWidth">
        <div class="w1004">
            <span class="slideNum" id="slideNum">
                            <i class=""></i>
                            <i class=""></i>
                            <i class=""></i>
                            <i class=""></i>
                            <i class="cur"></i>
            </span>
        </div>
    </div>
    <div class="arNav">
        <div class="w1004">
            <a style="display: none;" href="#" class="leftAr"></a>
            <a style="display: none;" href="#" class="rightAr"></a>
        </div>
    </div>
</div>>