<extend name="mia_base"/>
<block name="body">
    <link rel="stylesheet" href="http://file01.miyabaobei.com/resources/styles/jqwin.css">
    <link rel="stylesheet" href="http://file01.miyabaobei.com/resources/styles/item/iteminfo.css?v=20150602">
    <input id="shopId" type="hidden" value="{$goodsDetails['shopId']}"/>
    <input id="goodsId" type="hidden" value="{$goodsDetails['goodsId']}"/>

    <div class="warp">
        <include file="mia_goods_details_breadshell"/>
        <include file="mia_goods_details_content"/>
    </div>


    <div class="dialogAddTelW" style="display:none">
        <div class="dialogAddTel">
            <h3 class="tit2">免费订阅<span class="close" onclick="closeAddTelW()"></span></h3>
            <div class="covDiv1">喜欢的宝贝卖光了，想买怎么办？快快订阅免费开售通知，商品参加特卖时会通知你哦~</div>
            <div class="covDiv2">
                <span class="spa1">手机短信：</span>
                <input type="text" value="" class="inp1" onblur="yTel()" id="telInp" placeholder="请输入手机" />
                <p class="erro pink">请输入正确的手机号码</p>
            </div>
            <div class="covDiv3"><input type="submit" value="确定" class="sub1" id="telSub" onclick="telSub()" /></div>
        </div>
    </div>

    <div class="dialogAddTelWoverlay" style="display:none"></div>

<script>
        var NO_MARKET_PRICE = true; //不用ajax计算折扣
        //蜜芽优势切换
        $("#advantageTitle").tabs({
            cntSelect: "#imgBlock",
            tabEvent: "click",
            tabStyle: "normal",
            onStyle : "mia_current"
        });
        $("#kjghelp-button").mouseover(function(){
            $("#kjghelp").show();
        });
        $("#kjghelp-button").mouseout(function(){
            $("#kjghelp").hide();
        });
        //口碑跳转
        $('#review_num_f').click(function(){
            var scrollTop_f=$('#test').offset().top;
            //alert(scrollTop_f);
            $('html,body').animate({
                scrollTop:scrollTop_f-50
            },1000);
        });

        var jiathis_config = {
            url: document.location.href,
            title: $("#share_name").val(),
            shortUrl:false,
            hideMore:false,
            appkey:{
                "tsina":"1042539293"
            },
            pic:$("#share_pic").val()
        }
</script>
</block>